<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar with Routes</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="" routerLink="./home">Home</a></li>
            <li><a href="" routerLink="./work">Work</a></li>
            <li><a href="" routerLink="./about">About</a></li>
            <li><a href="" routerLink="./services">Services</a></li>
            <li><a href="" routerLink="./news">News</a></li>
            <li><a href="" routerLink="./contact">Contacts</a></li>
            <li><a href="" routerLink="./employee/empName/empId">Employee</a></li>
            <li><a href="" routerLink="./parent">Nested Routing</a></li>
        </ul>
    </nav>
    <router-outlet></router-outlet>

</body>
</html>