<div class="container">
  <h1>Multi Step Form</h1>
  <form [formGroup]="myForm" (ngSubmit)="formSubmit()">
    <ng-container formGroupName="userDetails" *ngIf="step == 1">
      <h4>User Details</h4>
      <div class="mb-3">
        <label for="inputName" class="form-label">Full Name</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          formControlName="fname"
        />
        <small
          style="color: red"
          *ngIf="
            userDetails.get('fname')?.invalid &&
            userDetails.get('fname')?.touched
          "
          >*Please fill your Full Name</small
        >
      </div>
      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          formControlName="email"
        />
        <small
          style="color: red"
          *ngIf="
            userDetails.get('email')?.invalid &&
            userDetails.get('email')?.touched
          "
          >*Please fill email filed</small
        >
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
        />
        <small
          style="color: red"
          *ngIf="
            userDetails.get('password')?.invalid &&
            userDetails.get('password')?.touched
          "
          >*Password missing</small
        >
      </div>
    </ng-container>
    <ng-container formGroupName="additionalDetails" *ngIf="step == 2">
      <h4>Additional Details</h4>
      <div class="mb-3">
        <label for="inputMobile" class="form-label">Phone Number</label>
        <input
          type="number"
          class="form-control"
          id="inputMobile"
          placeholder="+1"
          formControlName="mobile"
        />
      </div>
      <div class="mb-3">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Enter Address"
            id="floatingTextArea"
            formControlName="address"
          ></textarea>
          <label for="floatingTextArea" class="form-label"
            >Street Address</label
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="inputCountry" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="inputCountry"
          formControlName="country"
        />
      </div>
      <div class="mb-3">
        <label for="inputGender" class="form-label">Gender</label>
        <select
          name="inputGender"
          id="inputGender"
          class="form-control"
          formControlName="gender"
        >
          <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="">Prefer not to answer</option>
        </select>
      </div>
    </ng-container>
    <ng-container formGroupName="feedback" *ngIf="step == 3">
      <h4>Feedback/Comment</h4>
      <div class="mb-3">
        <div class="form-floating">
          <textarea
            class="form-control"
            placeholder="Leave a comment here"
            id="floatingTextArea"
            style="height: 100px"
            formControlName="comments"
          ></textarea>
          <label for="floatingTextArea" class="form-label">Comments</label>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="step != 1">
      <button type="button" class="btn btn-primary" (click)="btnPrevious()">
        Previous
      </button>
    </ng-container>
    <button type="button" class="btn btn-primary mx-2" (click)="btnNext()">
      Next
    </button>
    <ng-container *ngIf="step == 3">
      <button type="submit" class="btn btn-success">Submit</button>
    </ng-container>
  </form>
</div>
