<div class="container">
  <p>Login</p>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="email@example.com"
      [formControl]="email"
      autocomplete="off"
    />
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      [formControl]="password"
    />
  </div>
</div>
