h1 {
  color: #05685e;
  margin-left: 10px;
}
.imgContainer {
  text-align: center;
}
img {
  display: inline-block;
  width: 30%;
  margin: 0 8px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
