.counter-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

p.positive {
    color: #28a745;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: glow 1.5s infinite;
}

p.neutral {
    color: #6c757d;
    font-style: italic;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px dashed #6c757d;
    padding: 5px;
}

p.negative {
    color: #dc3545;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
    background-color: rgba(220, 53, 69, 0.1);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(220, 53, 69, 0.5);
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #28a745, 0 0 10px #28a745, 0 0 15px #28a745;
    }

    50% {
        text-shadow: 0 0 10px #28a745, 0 0 20px #28a745, 0 0 25px #28a745;
    }

    100% {
        text-shadow: 0 0 5px #28a745, 0 0 10px #28a745, 0 0 15px #28a745;
    }
}